{
    "presets": [
        "env"
    ],
    "plugins": [
        "transform-runtime",
        [
            "@babel/plugin-proposal-pipeline-operator",
            {
                "proposal": "minimal"
            }
        ]
    ]
}